.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


table tr {
  outline: thin solid;
}

table tr td{
  /* padding: 0;
  border-collapse: collapse;
  border-spacing: 0; */
  /* border-top: 1px solid black; */
  border-right: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

table tr td:last-child {
  border-right: 0;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, select {
  margin-left: 5px;
}

body {
  background-color: red;
  padding-bottom: 80px;
}